<!DOCTYPE html>
<html lang="en"  ng-app="App">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Pharmaacy Module">
    <meta name="author" content="Sachintha Udara">

    <base href="/">

    <meta charset="UTF-8">
    <title>Pharmacy System</title>
    <link rel="shortcut icon" href="public/image/pharmacy_icon.png" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <script src="/bower_components/jquery/dist/jquery.slim.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="public/css/dashboard.css">
    <link rel="stylesheet" href="public/css/styleTwo.css">
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="public/js/app.js"></script>
    <script src="public/js/appConfig.js"></script>
    <script src="public/js/ctrlIndex.js"></script>
    <script src="public/js/ctrlSupplier.js"></script>
    <script src="public/js/ctrlUser.js"></script>
    <script src="public/js/ctrlPurchaseOrder.js"></script>
    <script src="public/js/ctrlItem.js"></script>
    <script src="public/js/ctrlCategory.js"></script>
    <script src="public/js/ctrlBatch.js"></script>
    <script src="public/js/ctrlPrescription.js"></script>
    <script src="public/js/ctrlDispense.js"></script>
    <script src="/bower_components/jspdf/dist/jspdf.min.js"></script>
    <script src="/bower_components/jspdf-autotable/dist/jspdf.plugin.autotable.min.js"></script>
    <script src="public/js/reports.js"></script>

</head>
<body ng-controller="ctrlIndex">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <img  class="navbar-brand" src="public/image/pharmacy_icon_head.png" style="align-content: inherit" height="80" width="80"/>
            <a class="navbar-brand" href="#">Pharmacy System</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a ng-click="logout()">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a ui-sref="supplierMaster" ui-sref-active="activeState"><b>Supplier Master</b></a></li>
                <li><a ui-sref="grnAndBatch" ui-sref-active="activeState"><b>GRN and Batch</b></a></li>
                <li><a ui-sref="categorytMaster" ui-sref-active="activeState"><b>Item Category</b></a></li>
                <li><a ui-sref="itemMaster" ui-sref-active="activeState"><b>Item Master</b></a></li>
                <li><a ui-sref="purchaseOrder" ui-sref-active="activeState"><b>Purchase Order</b></a></li>
                <li><a ui-sref="prescription" ui-sref-active="activeState"><b>Prescription</b></a></li>
                <li><a ui-sref="dispense" ui-sref-active="activeState"><b>Dispense Master</b></a></li>
                <li><a ui-sref="viewDispense" ui-sref-active="activeState"><b>Dispense View</b></a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a ui-sref="report" ui-sref-active="activeState"><b>Report</b></a></li>
                <li><a ui-sref="userMaster" ui-sref-active="activeState"><b>User Master</b></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <ui-view></ui-view>
        </div>
    </div>
</div>
</body></html>