<!DOCTYPE html>
<html  ng-app="App">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <title>Pharmacy System - Log-in</title>
  <link rel="stylesheet" href="public/css/styleOne.css">
  <link rel="shortcut icon" href="public/image/pharmacy_icon.png" />
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="public/js/app.js"></script>
  <script src="public/js/appConfig.js"></script>
  <script src="public/js/ctrlLogin.js"></script>
</head>
<body ng-controller="ctrlLogin">
  <div class="login-card">
    <h1>Log-in</h1><br>
  <form>
    <input type="text" name="user" placeholder="Username" ng-model="user.name">
    <input type="password" name="pass" placeholder="Password" ng-model="user.pass">
    <button name="login" class="login login-submit" ng-click="checkValidUser()">Login</button>
  </form>
  <br>
  <div class="login-help">
    <span><b>{{ errorMsg }}</b></span>
  </div>
</div>
</body>
</html>