<h1 class="jumbotron" style="text-align: center; font-size: 50px; font-family: Verdana; color:#257a96"><b>GRN and Batch</b></h1>
<div class="col-md-6">
    <form class="well form-horizontal" name="supForm" id="contact_form">
        <b>Purchase Order No.</b><input type="text" class="form-control" placeholder="Search Purchase Order" ng-model="purchNo">
        <br>
        <button class="btn btn-primary" ng-click="getPurchaseOrder(purchNo)">Fill Table</button>
        <br>
        <br>
        <b>GRN CODE</b>
        <br>
        <input type="text" class="form-control" placeholder="Search GRN" ng-model="code">
        <br>
        <br>
        <button class="btn btn-primary" ng-click="getGRN(code)">Fill Table</button>
    </form>
    <div class='table-responsive'>
        <table class="table table-hover" ng-hide="grnSelect">
            <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Qnty
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr ng-repeat="item in purchaseOrder.items" >
                <td>
                    {{item.ItemName}}
                </td>
                <td>
                    {{item.qty}}
                </td>
                <td>
                    <button class="btn btn-info" ng-click="addValueForControllers(item.ItemName)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
        <table class="table table-hover" ng-show="grnSelect">
            <thead>
            <tr>
                <th>
                    Item
                </th>
                <th>
                    Qnty
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr ng-repeat="item in GRN.items" >
                <td>
                    {{item.ItemName}}
                </td>
                <td>
                    {{item.qty}}
                </td>
                <td>
                    <button class="btn btn-info" ng-click="addValueForControllersGRN(item.ItemName)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <button class="btn btn-primary" ng-click="select()" >Select GRN</button>
    <button ng-class="{'btn btn-primary active' : !selected, 'btn btn-primary disabled' :selected}"  ng-click="submitClick()">Add</button>
    <button ng-class="{'btn btn-warning active' : selected, 'btn btn-warning disabled' :!selected}"  ng-click="updateClick()">Update</button>
    <button ng-class="{'btn btn-danger active' : selected, 'btn btn-danger disabled' :!selected }" ng-click="deleteClick()">Delete</button>
    <button class="btn btn-warning" ng-click="clearControllers()">Clear</button>
    <br>
    <br>
    <div>
        <button ng-class="{'btn btn-success active' : grnSelect, 'btn btn-success disabled' :!grnSelect}" ng-click="generateRPT()">Generate Report</button>
    </div>
</div>
<div class="col-md-6">
    <form class="well form-horizontal" name="supForm" id="contact_form">
        <b>Item Name</b><input type="text" name="name" class="form-control" disabled ng-model="item.ItemName" />
        <br>
        <b>Qnty : </b><input type="text" name="add" class="form-control" ng-model="item.qty" />
        <br>
        <button class="btn btn-warning"  ng-click="updateItem()">Update</button>
    </form>
</div>