<div>
<div class="col-sm-9 col-md-10">
<h1 class="page-header">Category Master</h1>

<div class="row placeholders">

    <div class="container">

        <form class="well form-horizontal" action=" "   id="contact_form" >
            <fieldset>

                <!-- Form Name -->
                <legend>New Category </legend>


                <!-- Text input-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Category Code</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                            <input name="catCode" placeholder="CAT001" class="form-control" type="text" ng-model="category._id">
                        </div>
                    </div>
                </div>

                <!-- Product  Basic -->


                <!-- Category Name-->

                <div class="form-group">
                    <label class="col-md-4 control-label">Category Name</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                            <input  name="itemName" placeholder="Anti Biotics" class="form-control"  type="text" ng-model="category.CategoryName">
                        </div>
                    </div>
                </div>


                <!-- Type-->

                <div class="form-group">
                    <label class="col-md-4 control-label" >Category Type</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="type" placeholder="Type" class="form-control"  type="text" ng-model="category.categoryType">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-md-4 control-label"> Description</label>
                    <div class="col-md-4 inputGroupContainer">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                            <textarea class="form-control" name="description" placeholder="Description" ng-model="category.Description"></textarea>
                        </div>
                    </div>
                </div>

                <!-- Button -->
                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button type="button" class="btn alert-warning"  ng-click="addCategory()" >ADD </button>
                        <button type="button" class="btn btn-warning" ng-click="pritadded()">Update</button>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div><!-- /.container -->


<h2 class="sub-header">Category List</h2>



        <label class="col-md-4 control-label">Search</label>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input  name="Serch" placeholder="Anti Biotics" class="form-control"  type="text" ng-model="search" ng-change="serchcat(search)">
            </div>




<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Category Code</th>
            <th>Category Name</th>
            <th>Category Type</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="category in categories">
            <td>{{category._id}}</td>
            <td>{{category.CategoryName}}</td>
            <td>{{category.categoryType}}</td>
            <td>{{category.Description}}</td>
            <td> <button type="button" class="btn btn-warning" ng-click="addValueForControllers(category._id)">Select</button></td>
            <td> <button type="button" class="btn btn-warning" ng-click="deleteProduct(category._id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
</div>