<div class="row content">


    <div class="col-sm-10" id="contentView">
        <page-top-header title="'Dispense'"></page-top-header>


        <div class="Drelative">
            <div class="Dabsolute1">
                <form name="dispense" id="dispense">
                    <div class="form-group">
                        <table>
                            <tr>
                                <td class="f1_label">Payment ID      :</td><td><input type="text" ng-model="paymentId" class="form-control" name="paymentId" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Patient ID      :</td><td><input type="text" ng-model="patientId" class="form-control" name="patientId" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Prescription ID    :</td><td><input type="text" ng-model="prescriptionId" class="form-control" name="prescriptionId" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Drug ID     :</td><td><input type="text" ng-model="drugId" class="form-control" name="drugId" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Drug Name     :</td><td><input type="text" ng-model="drugName" class="form-control" name="drugName" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Quantity     :</td><td><input type="text" ng-model="quantity" class="form-control" name="quantity" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Unit Price    :</td><td><input type="text" ng-model="unitPrice" class="form-control" name="unitPrice" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Payment per Drug   :</td><td><input type="text" ng-model="paymentPerDrug" class="form-control" name="paymentPerDrug" /><br/></td>
                            </tr>
                            <tr>
                                <td class="f1_label">Total Payment     :</td><td><input type="text" ng-model="totalPayment" class="form-control" name="totalPayment" /><br/></td>
                            </tr>

                        </table>
                    </div>


                    <div align="center" style="padding: 8px">
                        <button type="submit" class="btn btn-success" ng-click="addDispense()">Add</button>
                        <button type="button" class="btn btn-success" ng-click="addDispense()">Update</button>
                        <button type="button" class="btn btn-success" ng-click="addDispense()">Delete</button>
                        <button type="reset" class="btn btn-primary" ng-click="clear()">Clear</button>

                    </div>
                </form>


        </div>

    </div>

    </div>
</div>
