<div>
    <div class="col-sm-9 col-md-10">
    <h1 class="page-header">Item Master</h1>

    <div class="row placeholders">

        <div class="container">

            <form class="well form-horizontal"  id="contact_form" >
                <fieldset>

                    <!-- Form Name -->
                    <legend> New Item </legend>


                    <!-- Text input-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Code</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                <input name="itemCode" placeholder="ITM001" class="form-control" type="text" ng-model="item._id">
                            </div>
                        </div>
                    </div>

                    <!-- Product  Basic -->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Category</label>
                        <div class="col-md-4 selectContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                <select name="Category" class="form-control selectpicker" ng-controller="ctrlCategory" ng-model="item.product_id">
                                    <option ng-repeat="category in categories">{{category.CategoryName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <!-- Item Name-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Item Name</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-file"></i></span>
                                <input  name="itemName" placeholder="Idarubicin" class="form-control"  type="text" ng-model="item.ItemName">
                            </div>
                        </div>
                    </div>
                    <!-- Type-->

                    <div class="form-group">
                        <label class="col-md-4 control-label" >Type</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                                <input name="type" placeholder="Vaccine" class="form-control"  type="text" ng-model="item.Type">
                            </div>
                        </div>
                    </div>

                    <!-- Selling Price-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Sell Price #</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                                <input name="sellPice" placeholder="10" class="form-control" type="number" step="0.001" ng-change="isMinusSellPrice(item.SellPrice)" ng-model="item.SellPrice">
                            </div>
                        </div>
                    </div>


                    <!-- Reorder Level-->

                    <div class="form-group">
                        <label class="col-md-4 control-label">Reorder Level #</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-sh"></i></span>
                                <input name="reorderLevel" placeholder="10" class="form-control" type="number" step="0.001" ng-change="isMinusReOrderLevel(item.ReOrderLevel)" ng-model="item.ReOrderLevel">
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-4 control-label"> Description</label>
                        <div class="col-md-4 inputGroupContainer">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <textarea class="form-control" name="description" placeholder="Description" ng-model="item.Description"></textarea>
                            </div>
                        </div>
                    </div>


                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="button" class="btn alert-warning"  ng-click="addItem()" >ADD </button>
                            <button type="button" class="btn btn-warning" ng-click="updateItem()">Update</button>
                            <button class="btn btn-success" ng-click="generateRPT()">Report Generate</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div><!-- /.container -->


    <h2 class="sub-header">Item List</h2>

            <label class="col-md-4 control-label">Search</label>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input  name="search" placeholder="Idarubicin" class="form-control"  type="text" ng-model="search" ng-change="serchItem(search)">
                </div>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Name</th>
                <th>Product ID</th>
                <th>Item Type</th>
                <th>Reorder Level</th>
                <th>Sell Price</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <td>{{item._id}}</td>
                <td>{{item.ItemName}}</td>
                <td>{{item.product_id}}</td>
                <td>{{item.Type}}</td>
                <td>{{item.ReOrderLevel}}</td>
                <td>{{item.SellPrice}}</td>
                <td>{{item.Description}}</td>
                <td> <button type="button" class="btn btn-warning" ng-click="addValueForControllers(item._id)">Select</button></td>
                <td> <button type="button" class="btn btn-warning" ng-click="deleteItem(item._id)">Delete</button></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>