<div>
    <br>
    <!--<div class="page-header">-->
    <div class="col-md-6">
        <!-- Button add new prescription -->
        <div class="input-group">
            <input type="text" class="form-control" aria-label="..." placeholder="Search prescriptions by patient ID" ng-model="searchedPatientId">
            <div class="input-group-btn">
                <button type="button" class="btn btn-info" ng-click="searchPrescriptionByPatientId()">Search</button>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <button type="button" class="btn btn-warning btn-sm" ng-click="getAllPrescriptions()" ng-show="searchFlag">All prescriptions</button>
        <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" ng-click="generateRPT()">Reports</button>
        <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal" data-target="#myModal" ng-click="addPrescription()">
            Add Prescription
        </button>
    </div>
    <!--</div>-->
    <br><br><br>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span>Prescription Details</span>
        </div>

        <!-- Table -->
        <table id="reportTable" class="table table-hover">
            <thead>
                <tr>
                    <th>Prescription Id</th>
                    <th>Patient Id</th>
                    <th>Patient Name</th>
                    <th>Created Date</th>
                    <th>Prescription Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prescription in prescriptions">
                    <td>
                        <h3>
                            <span class="label label-info" ng-show="true">
                                <!--Alive-->
                                <span class="badge">{{prescription.prescriptionId}}</span>
                            </span>
                            <!--<span class="label label-warning" ng-hide="true">-->
                                <!--Pending-->
                                <!--<span class="badge">{{prescription.token}}</span>-->
                            <!--</span>-->
                            <!--<span class="label label-success" ng-hide="true">-->
                                <!--Ready-->
                                <!--<span class="badge">{{prescription.token}}</span>-->
                            <!--</span>-->
                        </h3>
                    </td>
                    <td>{{prescription.patientId}}</td>
                    <td>{{prescription.patientName}}</td>
                    <td>{{prescription.createdDate}}</td>
                    <td>{{prescription.prescriptionDate}}</td>
                    <td><button class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" ng-click="viewPrescription($index)">View</button></td>
                </tr>
            </tbody>
        </table>

    </div>

    <!-- Modal - View Prescription -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Prescription {{selectedPrescription.prescriptionId}}</h4>
                </div>
                <div class="modal-body">
                    <!--parent panel-->
                    <div class="panel panel-success">
                        <div class="panel-heading">
                            <h3 class="panel-title">Prescription information</h3>
                        </div>
                        <div class="panel-body">

                            <div class="row">
                                <!--Prescription ID-->
                                <div class="col-md-6">
                                    <div class="input-group" ng-show="viewFlag">
                                        <span class="input-group-addon" id="basic-addon_x">Prescription ID :</span>
                                        <label class="form-control">{{selectedPrescription.prescriptionId}}</label>
                                    </div>
                                    <div class="input-group" ng-show="saveFlag">
                                        <span class="input-group-addon" id="basic-addon_x1">Prescription ID :</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_x1" ng-model="newPrescription.prescriptionId">
                                    </div>
                                    <div class="input-group" ng-show="updateFlag">
                                        <span class="input-group-addon" id="basic-addon_x2">Prescription ID :</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_x2" ng-model="updatedPrescription.prescriptionId">
                                    </div>
                                </div>
                                <!--Patient ID-->
                                <div class="col-md-6">
                                    <div class="input-group" ng-show="viewFlag">
                                        <span class="input-group-addon" id="basic-addon_y">Patient ID :</span>
                                        <label class="form-control">{{selectedPrescription.patientId}}</label>
                                    </div>
                                    <div class="input-group" ng-show="saveFlag">
                                        <span class="input-group-addon" id="basic-addon_y2">Patient ID :</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_y2" ng-model="newPrescription.patientId">
                                    </div>
                                    <div class="input-group" ng-show="updateFlag">
                                        <span class="input-group-addon" id="basic-addon_y3">Patient ID :</span>
                                        <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_y3" ng-model="updatedPrescription.patientId">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <!--child panel 1-->
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Patient information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <!--Patient name-->
                                            <div class="input-group" ng-show="viewFlag">
                                                <span class="input-group-addon" id="basic-addon3">Patient name :</span>
                                                <label class="form-control">{{selectedPrescription.patientName}}</label>
                                            </div>
                                            <div class="input-group" ng-show="saveFlag">
                                                <span class="input-group-addon" id="basic-addon_3">Patient name :</span>
                                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_3" ng-model="newPrescription.patientName">
                                            </div>
                                            <div class="input-group" ng-show="updateFlag">
                                                <span class="input-group-addon" id="basic-addon_3x">Patient name :</span>
                                                <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon_3x" ng-model="updatedPrescription.patientName">
                                            </div>
                                            <br>
                                            <!--Patient age-->
                                            <div class="input-group" ng-show="viewFlag">
                                                <span class="input-group-addon" id="basic-addon4">Patient age :</span>
                                                <label class="form-control">{{selectedPrescription.patientAge}}</label>
                                            </div>
                                            <div class="input-group" ng-show="saveFlag">
                                                <span class="input-group-addon" id="basic-addon_4">Patient age :</span>
                                                <input type="number" class="form-control" placeholder="" aria-describedby="basic-addon_4" ng-model="newPrescription.patientAge">
                                            </div>
                                            <div class="input-group" ng-show="updateFlag">
                                                <span class="input-group-addon" id="basic-addon_4x">Patient age :</span>
                                                <input type="number" class="form-control" placeholder="" aria-describedby="basic-addon_4x" ng-model="updatedPrescription.patientAge">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <!--child panel 2-->
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Date information</h3>
                                        </div>
                                        <div class="panel-body">
                                            <!--Prescription date-->
                                            <div class="input-group" ng-show="viewFlag">
                                                <span class="input-group-addon" id="basic-addon1">Prescription date :</span>
                                                <label class="form-control">{{selectedPrescription.prescriptionDate}}</label>
                                            </div>
                                            <div class="input-group" ng-show="saveFlag">
                                                <span class="input-group-addon" id="basic-addon_1">Prescription date :</span>
                                                <label class="form-control">{{getCurrentDate()}}</label>
                                            </div>
                                            <div class="input-group" ng-show="updateFlag">
                                                <span class="input-group-addon" id="basic-addon1x">Prescription date :</span>
                                                <label class="form-control">{{selectedPrescription.prescriptionDate}}</label>
                                            </div>
                                            <br>
                                            <!--Created date-->
                                            <div class="input-group" ng-show="viewFlag">
                                                <span class="input-group-addon" id="basic-addon2">Created date :</span>
                                                <label class="form-control">{{selectedPrescription.createdDate}}</label>
                                            </div>
                                            <div class="input-group" ng-show="saveFlag">
                                                <span class="input-group-addon" id="basic-addon_2">Created date :</span>
                                                <input type="date" class="form-control" placeholder="" aria-describedby="basic-addon_2" ng-model="newPrescription.createdDate">
                                            </div>
                                            <div class="input-group" ng-show="updateFlag">
                                                <span class="input-group-addon" id="basic-addon2x">Created date :</span>
                                                <label class="form-control">{{selectedPrescription.createdDate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Drug information</h3>
                                </div>
                                <div class="panel-body">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Drug name</th>
                                                <th>Dosage</th>
                                                <th>Frequency</th>
                                                <th>Period</th>
                                                <th>Quantity</th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <input type="text" class="form-control" placeholder="Drug name" aria-describedby="basic-addon_7" ng-model="selectedDrug.ItemName" disabled>
                                                </th>
                                                <th>
                                                    <input type="number" class="form-control" placeholder="Dosage" aria-describedby="basic-addon_8" ng-model="selectedPrescribedDrug.dosage">
                                                </th>
                                                <th>
                                                    <input type="number" class="form-control" placeholder="Frequency" aria-describedby="basic-addon_9" ng-model="selectedPrescribedDrug.frequency">
                                                </th>
                                                <th>
                                                    <input type="number" class="form-control" placeholder="Period" aria-describedby="basic-addon_10" ng-model="selectedPrescribedDrug.period">
                                                </th>
                                                <th>
                                                    <input type="number" class="form-control" placeholder="Quantity" aria-describedby="basic-addon_11" value="{{selectedPrescribedDrug.dosage*selectedPrescribedDrug.frequency*selectedPrescribedDrug.period}}">
                                                    <!--ng-model="selectedPrescribedDrug.quantity">-->
                                                </th>
                                                <th>
                                                    <button class="btn btn-warning btn-sm" ng-click="addToSelectedDrugs()">Add</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="drug in selectedPrescription.drugs">
                                                <td>{{drug.name}}</td>
                                                <td>{{drug.dosage}}</td>
                                                <td>{{drug.frequency}}</td>
                                                <td>{{drug.period}}</td>
                                                <td>{{drug.quantity}}</td>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                        <tr ng-repeat="drugRecord in selectedPrescribedDrugs">
                                            <td>{{drugRecord.name}}</td>
                                            <td>{{drugRecord.dosage}}</td>
                                            <td>{{drugRecord.frequency}}</td>
                                            <td>{{drugRecord.period}}</td>
                                            <td>{{drugRecord.quantity}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div>
                                        <button class="btn btn-primary btn-sm" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" ng-click="getDrugs()">
                                            Choose drugs
                                        </button>
                                        <div class="collapse" id="collapseExample">
                                            <div class="well">
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div>
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Drug ID</th>
                                                                <th>Drug name</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="drug in drugs">
                                                                <td>{{drug.product_id}}</td>
                                                                <td>{{drug.ItemName}}</td>
                                                                <td>
                                                                    <button class="btn btn-info btn-sm" ng-click="pickDrugs($index)">Pick</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-show="saveFlag" ng-click="insertPrescription()">Save</button>
                    <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal" ng-show="updateFlag" ng-click="upadatePrescription()">Update</button>
                    <button type="button" class="btn btn-warning btn-sm" ng-show="viewFlag" ng-click="enableUpdateButton()">Edit/Update</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" ng-show="viewFlag" ng-click="deletePrescription()">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
