<div>
    <div class="col-sm-9 col-md-10">
        <h1 class="page-header">Purchase Order</h1>

        <div class="row placeholders">

            <div class="container">

                <form class="well form-horizontal" id="contact_form" >
                    <fieldset>

                        <!-- Form Name -->
                        <legend> New Item </legend>


                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Purchase Order Number</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                    <input name="pCode" placeholder="PUR001" class="form-control" type="text" ng-model="po._id">
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-4 control-label">Purchase Order Number</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-info-sign"></i></span>
                                    <input name="pDate" placeholder="2016-06-14" class="form-control" type="date" ng-model="po.PDate">
                                </div>
                            </div>
                        </div>

                        <!-- Product  Basic -->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Category</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="Category" class="form-control selectpicker" ng-controller="ctrlCategory"   ng-model="po.category">
                                        <option ng-repeat="category in categories" >{{category.CategoryName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-md-4 control-label">Suplier</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="" class="form-control selectpicker" ng-controller="ctrlSupplier" ng-model="po.Supplier">
                                        <option value="supplier.name" ng-repeat="supplier in suppliers">{{supplier.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-4 control-label">Item</label>
                            <div class="col-md-4 selectContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                                    <select name="Item" class="form-control selectpicker" ng-controller="ctrlItem" ng-model="selectitem.ItemName">
                                        <option ng-repeat="item in items">{{item.ItemName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Selling Price-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantity #</label>
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-credit-card"></i></span>
                                    <input name="qty" placeholder="10" class="form-control" type="number" step="0.001" ng-model="selectitem.qty" ng-change="isMinusQty()" >

                                </div>
                                <div class="col-md-4">
                                <button  type="button" ng-click="addToList()">ADD </button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-4 inputGroupContainer">
                                <div class="input-group">

                                    <table class="table table-sm">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Item Name</th>
                                            <th>Quantity</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="itm in itemList">
                                            <th scope="row">1</th>
                                            <td>{{itm.ItemName}}</td>
                                            <td>{{itm.qty}}</td>
                                            <td><button type="button" ng-click="deleteItem(itm.ItemName)">Remove</button></td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label"></label>
                            <div class="col-md-4">
                                <button type="reset" class="btn alert-warning"  ng-click="addPruchaseOrder()">ADD </button>
                                <button type="reset" class="btn btn-warning" ng-click="updateCategory()">Update</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div><!-- /.container -->


        <h2 class="sub-header">Purchase Order</h2>

        <label class="col-md-4 control-label">Search</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input  name="search" placeholder="Idarubicin" class="form-control"  type="text" ng-model="search" ng-change="">
        </div>

        <div class="table-responsive" >
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Purchase Order Number</th>
                    <th>Date</th>
                    <th>Suplier Name</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="po in poList">
                    <td>{{po._id}}</td>
                    <td>{{po.pDate}}</td>
                    <td>{{po.Supplier}}</td>
                    <td>{{po.Isapproved}}</td>
                    <td>{{po.IsCancelled}}</td>
                    <td> <button type="button" class="btn btn-warning" ng-click="addValueForControllers(item._id)">Select</button></td>
                    <td> <button type="button" class="btn btn-warning" ng-click="deletePO(po._id)">Delete</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>