<h1 class="jumbotron" style="text-align: center; font-size: 50px; font-family: Verdana; color:#257a96"><b>Supplier Master</b></h1>
<div class="col-md-5">
    <form class="well form-horizontal" name="supForm" id="contact_form">
        <b>Supplier Name / Company : </b><input type="text" name="name" class="form-control" ng-model="supplier.name" required/>
        <p ng-hide="supForm.name.$valid" style="color: #c12e2a">Your name is required</p>
        <br>
        <b>Address : </b><input type="text" name="add" class="form-control" ng-model="supplier.add" required/>
        <p ng-hide="supForm.add.$valid" style="color: #c12e2a">Your address is required</p>
        <br>
        <b>Mobile : </b><input type="number" name="mob" class="form-control" ng-model="supplier.mob" ng-maxlength="10" ng-minlength="10" required/>
        <p ng-hide="supForm.mob.$valid" style="color: #c12e2a">Your password is required</p>
        <br>
        <b>Land : </b><input type="number" name="land" class="form-control" ng-model="supplier.land" ng-maxlength="10" ng-minlength="10" required/>
        <p ng-hide="supForm.land.$valid" style="color: #c12e2a">Your password is required</p>
        <br>
        <b>Fax : </b><input type="number" name="fax" class="form-control" ng-model="supplier.fax" ng-maxlength="10" ng-minlength="10" required/>
        <p ng-hide="supForm.fax.$valid" style="color: #c12e2a">Your password is required</p>
        <br>
        <b>Item Catogary : </b>
        <select class="form-control" ng-model="supplier.catogary">
            <option value="catogary.CategoryName" ng-repeat="catogary in catogarys">{{catogary.CategoryName}}</option>
        </select>
        <br>
        <b>Reg No : </b><input type="text" name="reg" class="form-control" ng-model="supplier.regNo" required/>
        <p ng-hide="supForm.reg.$valid" style="color: #c12e2a">Your Reg no. is required</p>
        <br>
        <button ng-class="{'btn btn-primary active' : !selected, 'btn btn-primary disabled' : selected}"  ng-click="submitClick()" >Add</button>
        <button ng-class="{'btn btn-warning active' : selected, 'btn btn-warning disabled' :!selected}"  ng-click="updateClick()">Update</button>
        <button ng-class="{'btn btn-danger active' : selected, 'btn btn-danger disabled' :!selected }" ng-click="deleteClick()">Delete</button>
        <button class="btn btn-warning" ng-click="clearControllers()">Clear</button>
        <br>
        <br>
        <div>
            <button class="btn btn-success" ng-click="generateRPT()">Generate Report</button>
        </div>
    </form>
</div>
<div class="col-md-7">
    <span><b>Search</b></span><input type="text" class="form-control" placeholder="Search Supplier" ng-model="searchText.name">
    <div class='table-responsive'>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Reg No
                </th>
                <th>
                    Land No
                </th>
                <th>
                    select
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr ng-repeat="supplier in suppliers | filter:searchText" >
                <td>
                    {{supplier.name}}
                </td>
                <td>
                    {{supplier.add}}
                </td>
                <td>
                    {{supplier.regNo}}
                </td>
                <td>
                    {{supplier.land}}
                </td>
                <td>
                    <button class="btn btn-info" ng-click="addValueForControllers(supplier._id)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>