<h1 class="jumbotron" style="text-align: center; font-size: 50px; font-family: Verdana; color:#257a96"><b>User Master</b></h1>
<div class="col-md-5">
    <form class="well form-horizontal" name="userForm" id="contact_form" novalidate>
        <b>User Name : </b><input type="text" name="name" class="form-control" ng-model="user.name" required/>
        <p ng-hide="userForm.name.$valid" style="color: #c12e2a">Your name is required</p>
        <br>
        <b>Password : </b><input type="password" name="pass" class="form-control" ng-model="user.pass" required/>
        <p ng-hide="userForm.pass.$valid" style="color: #c12e2a">Your password is required</p>
        <br>
        <b>User Type : </b>
        <select class="form-control" ng-model="user.type" value="select">
            <option value="Manager">Manager</option>
            <option value="Chief Par">Chif Pharmacy</option>
            <option value="Pharmacy" selected>Pharmacy</option>
        </select>
        <br>
        <button ng-class="{'btn btn-primary active' : !selected, 'btn btn-primary disabled' : selected}"  ng-click="submitClick()" >Add</button>
        <button ng-class="{'btn btn-warning active' : selected, 'btn btn-warning disabled' :!selected}"  ng-click="updateClick()">Update</button>
        <button ng-class="{'btn btn-danger active' : selected, 'btn btn-danger disabled' :!selected }" ng-click="deleteClick()">Delete</button>
        <button class="btn btn-warning" ng-click="clearControllers()">Clear</button>
        <br>
        <br>
        <div>
            <button class="btn btn-success" ng-click="generateRPT()">Generate Report</button>
        </div>
    </form>
</div>
<div class="col-md-7">
    <div class='table-responsive'>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Edit User
                </th>
                <th>
                    Edit Date
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr ng-repeat="user in users" >
                <td>
                    {{user.name}}
                </td>
                <td>
                    {{user.type}}
                </td>
                <td>
                    {{user.editUser}}
                </td>
                <td>
                    {{user.editDate}}
                </td>
                <td>
                    <button class="btn btn-info" ng-click="addValueForControllers(user._id)">Select</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>