<div class="row content">


    <div class="col-sm-10" id="contentView">
        <page-top-header title="'Dispense'"></page-top-header>

        <div >
            <table class="table ">
                <thead>
                <tr>
                    <th>Payment ID</th>
                    <th>Patient ID</th>
                    <th>Prescription ID</th>
                    <th>Drug ID</th>
                    <th>Drug Name</th>
                    <th>Quantity </th>
                    <th>Unit Price</th>
                    <th>Payment per Drug</th>
                    <th>Total Payment</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="Dispense in Dispenses">
                    <td>{{Dispense.paymentId}}</td>
                    <td>{{Dispense.patientId}}</td>
                    <td>{{Dispense.prescriptionId}}</td>
                    <td>{{Dispense.drugId}}</td>
                    <td>{{Dispense.drugName}}</td>
                    <td>{{Dispense.quantity}}</td>
                    <td>{{Dispense.unitPrice}}</td>
                    <td>{{Dispense.paymentPerDrug}}</td>
                    <td>{{Dispense.totalPayment}}</td>
                    <td>
                        <button type="edit" class="btn btn-update"  data-toggle="modal" data-target="#editDispense" ng-click="setEditDispense(Dispenses)">Edit</button>
                        <button type="delete" class="btn btn-danger" data-toggle="modal" data-target="#delete" ng-click = "deleteModal(Dispenses._id,Dispenses.paymentId)">Delete</button>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div id="printbtn" align="center" style="padding: 8px">
            <button type="button" value="Print Form" class="btn btn-info" style="..." ng-click="generateRPT()">Print Dispenses</button>
        </div>
    </div>

    <div id="editDispense" class="model fade" role="dialog">
        <div class="model-dialog">
            <div class="model-content">
                <div class="model-header">
                    <button type="button" class="close" data-dismiss="model">&times;</button>
                    <h4 class="model-title" >Edit Dispense</h4>
                </div>
                <div class="model-body">
                    <div class="col-lg-12 ">
                        <div class="form-group">
                            <table>
                                <tr>
                                    <td class="f1_label">Payment ID      :</td><td><input type="text" ng-model="dispenseEdit.paymentId" class="form-control" name="paymentId" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Patient ID      :</td><td><input type="text" ng-model="dispenseEdit.patientId" class="form-control" name="patientId" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Prescription ID    :</td><td><input type="text" ng-model="dispenseEdit.prescriptionId" class="form-control" name="prescriptionId" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Drug ID     :</td><td><input type="text" ng-model="dispenseEdit.drugId" class="form-control" name="drugId" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Drug Name     :</td><td><input type="text" ng-model="dispenseEdit.drugName" class="form-control" name="drugName" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Quantity     :</td><td><input type="text" ng-model="dispenseEdit.quantity" class="form-control" name="quantity" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Unit Price    :</td><td><input type="text" ng-model="dispenseEdit.unitPrice" class="form-control" name="unitPrice" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Payment per Drug   :</td><td><input type="text" ng-model="dispenseEdit.paymentPerDrug" class="form-control" name="paymentPerDrug" /><br/></td>
                                </tr>
                                <tr>
                                    <td class="f1_label">Total Payment     :</td><td><input type="text" ng-model="dispenseEdit.totalPayment" class="form-control" name="totalPayment" /><br/></td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group row">
                            <div class="btn btn-danger" ng-click="reset()"  data-dismiss="model">Update</div>
                            <div class="btn btn-default"  data-dismiss="model">Cancel</div>
                        </div>
                    </div>
                </div>
                <div class="model-footer">

                </div>
            </div>
        </div>
    </div>

    <div id="delete" class="model fade" role="dialog">
        <div class="model-dialog">
            <div class="model-content">
                <div class="model-header">
                    <button type="button" class="close" data-dismiss="model">&times;</button>
                    <h4 class="model-title" >Are you sure?</h4>
                </div>
                <div class="model-body">
                    <p> Do you want to delete "{{paymentId}}" Question?</p>
                </div>
                <div class="model-footer">
                    <div class="btn btn-danger" ng-click="deleteDispense()" data-dismiss="model">Yes</div>
                    <div class="btn btn-default"  data-dismiss="model">Cancel</div>
                </div>
            </div>
        </div>
    </div>


</div>
